/* DEFAULTS
----------------------------------------------------------*/   
p
{ margin-bottom: 10px;
  line-height: 1.6em; }

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{ font-size: 1.5em;
  color: #666666;
  font-variant: small-caps;
  text-transform: none;
  font-weight: 200;
  margin-bottom: 0px;
}

h1 { font-size: 1.6em; padding-bottom: 0px; margin-bottom: 0px; }

h2 { font-size: 1.5em; background-color: #CCFFFF; border: thin solid #FFFFFF; font-weight:bold; height:50; width: 1197px; }

h3 { font-size: 1.2em; font-weight:bold;}

h4 { font-size: 1.1em; }

h5 { font-size: 1.0em; }

h6 { font-size: 1.0em; }
/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2 { margin-top: 0px; }

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/
.leftBorder { border-left: 5px solid black; }    
.treeView { cursor: Pointer; color:Purple; font-weight:bold }
.treeView1 { cursor: Pointer; color:Purple; font-weight:bold; margin:0,0,0,10; }
.gvTableStyle { background-color:White;border-color:#CC9966;border-width:1px;border-style:None;border-collapse:collapse; width:auto; }
.gvHeaderStyle {color:Blue;background-color:Silver;font-weight:lighter;}
.gvRowStyle { color:Black; background-color:White; }
.gvFooterStyle { color:#330099;background-color:#FFFFCC;}
.gvSelectedRowStyle { color:Red;background-color:Yellow;font-weight:bold;}
.gvPagerSyle { color:#330099;background-color:#FFFFCC; }
.gvTextBox {text-align: right; max-width:140px;  }
.gvTextBoxMedium {text-align: right;max-width:70px; width:auto;}
.gvTextBoxSmall {text-align: right; max-width:35px;width:auto; }
.gvStringBoxSmall {text-align: left; max-width:35px;width:auto;}
.gvStringBoxMedium {text-align: left; max-width:100px; width:auto; }
.gvStringBoxLarge {text-align: left; max-width:200px; width:auto; }
.gvStringBox {text-align: left; max-width:600px; min-width:400px; }
.gvAltRowStyle { color:Black; background-color:InfoBackground;}
.align-right { text-align: right; }
.section { border-style: solid; border-color: #660066; vertical-align:top; width:auto; }
.label { border-style: none; font-weight: bold;
    width: 205px;
}
.margens { margin-left: 10; padding-left:10;}
.save  
{
    text-align:right;
    color: #99CCFF;
    font-weight: bold;
    width:50; 
}

.page { width: 100%; background-color: #fff; margin: 20px auto 0px auto; border: 1px solid #496077; }

.title{ width:100%; }

.login { font-size:x-large; color:Blue;}

.loginInput { font-size:x-large; }

.btnLogin { border-style: none; font-style: italic; color: #0066FF; font-weight: bold; font-size:large; }

.btnLogin:hover { background: #00d9ff; cursor:pointer; }

.btnSubmit { font-size:x-large; }

.btnSubmit:hover { cursor:pointer; }

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #c9dde1;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.main
{
    padding: 0px 12px;
    margin: 0px 0px 0px 0px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #CC33FF;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: right;
    line-height: normal;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 30%;
	right: 30%;
	bottom: 30%;
	left: 30%;
	background: rgba(0,0,0,1);
	z-index: auto;
	opacity:0;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 240px;
	position: relative;
	margin: 5% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #ccc;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.modalDialog1 {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog1:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog1 > div {
	width: 1200px;
	position: relative;
	margin: 1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
/*style="position: relative; width: auto; height: auto; top: inherit; right: inherit; bottom: inherit; left: inherit" */

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 12px;
	text-align: center;
	top: 20px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }
 
.width { width: 1200; }

.BMPclose 
{
    background: #AAAAAA;
	line-height: 25px;
    color: #FFFFFF;
	position:relative;
	right:0px;
	text-align: center;
	width: 54px;
	text-decoration: none;
    font-weight: bold;
 	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
    
/* TAB MENU   
----------------------------------------------------------*/
li {cursor: pointer; }
li:last-child {
  display: inline-block;
  padding: 0px;
  float: right;
}

/*div.hideSkiplink  for the whole div 
{
    background-color:#ffffff;           ffffff white 
    width:100%;
}*/


div.menu        /*For the menu options */
{
    padding: 0px 0px 0px 0px;
    width:100%;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a  /*For the menu options */
{
    /*background-color: #ffffff;    ffffff white */
    /*color: #000000;  */             /* 000000 black forecolor */
    display: block;             /* horizontal display of options */
    line-height: 1.35em;
    padding: 4px 19px;
    text-decoration: none;
    white-space: nowrap;
    font-weight:lighter;
}

div.menu ul li a:hover         /*when hover on a menu option ff0038 red - ffffff white */
{
    background-color: #ff0038;
    color: #ffffff;
    text-decoration: none;
}

div.menu ul li a:active
{
    /*font-weight: bolder;*/
    text-decoration:none;
    /*color:Black;*/
}

/*div.menu ul li a:visited
{
    font-weight: bolder;
    text-decoration:none;
    color:Black;
}
div.menu ul li a:disabled
{
    color: #000000;
}*/

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
    width: 787px;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear { clear: both; }

/*.save { text-align:right; }*/

.failureNotification { font-size: 1.2em; color: Red; }

.bold { font-weight: bold; }

.submitButton { text-align: right; padding-right: 10px; }

/* Footer menu style
'------------------------------------------*/
#sectionfooter
{
    background-color:#4F2D7F;

}

#cssSubMenu
{
    font-weight: 900;
    text-align: center;
}
#cssmenu {
  position: relative;
  height: 4px;
  background: #ffffff;
  width: auto;
  text-align:right;
}
#cssmenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssmenu > ul {
  position: relative;
  display: block;
  background: #4F2D7F;
  width: 100%;
  z-index: 500;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#cssmenu > ul > #menu-button {
  display: none;
}
#cssmenu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  font-size: 14px;
  font-weight: bold;
  padding: 15px 20px;
  color: #7a8189;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssmenu > ul > li:hover > a {
  color: #ffffff;
}
#cssmenu li.has-sub::after {
  display: block;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
}
#cssmenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #7a8189;
}
#cssmenu > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  z-index: -1;
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  z-index: 1000;
}
#cssmenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssmenu ul ul li {
  position: relative;
}
#cssmenu > ul > li:hover > ul {
  left: auto;
  top: 44px;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
  opacity: 1;
}
#cssmenu ul ul li:hover > ul {
  left: 170px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul li:hover > ul {
  left: auto;
  right: 170px;
  top: 0;
  opacity: 1;
  padding-right: 5px;
}
#cssmenu ul ul li a {
  width: 130px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 20px;
  font-size: 12px;
  color: #9ea2a5;
  background: #ffffff;
  -webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;
  transition: all .35s ease;
}
#cssmenu.align-right ul ul li a {
  text-align: right;
}
#cssmenu ul ul li:hover > a {
  background: #f2f2f2;
  color: #8c9195;
}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a {
  border-bottom: 0;
}
#cssmenu > ul > li > ul::after {
  content: '';
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #ffffff;
  position: absolute;
  top: -12px;
  left: 30px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 30px;
}
#cssmenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub::after {
  border-left-color: transparent;
  border-right-color: #9ea2a5;
  right: auto;
  left: 10px;
}
#cssmenu ul ul li.has-sub:hover::after {
  border-left-color: #ffffff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
#cssmenu.align-right ul ul li.has-sub:hover::after {
  border-right-color: #ffffff;
  border-left-color: transparent;
  left: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: auto;
  }
  #cssmenu.align-center ul {
    text-align: left;
  }
  #cssmenu.align-right > ul > li {
    float: none;
  }
  #cssmenu ul {
    width: auto;
  }
  #cssmenu .submenuArrow,
  #cssmenu #indicatorContainer {
    display: none;
  }
  #cssmenu > ul {
    height: auto;
    display: block;
  }
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu li,
  #cssmenu > ul > li {
    display: none;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul,
  #cssmenu ul > li:hover > ul,
  #cssmenu ul ul > li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul > li:hover > ul,
  #cssmenu.align-right ul ul > li:hover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
    padding-right: 0;
    right: auto;
  }
  #cssmenu ul .has-sub::after {
    display: none;
  }
  #cssmenu ul li a {
    padding: 12px 20px;
  }
  #cssmenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssmenu.align-right ul ul li a {
    text-align: left;
  }
  #cssmenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssmenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssmenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssmenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssmenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssmenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssmenu #menu-button > a {
    padding: 14px 20px;
  }
  #cssmenu ul.open li,
  #cssmenu > ul.open > li {
    display: block;
  }
  #cssmenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssmenu ul ul::after {
    display: none;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    border-bottom: 2px solid #7a8189;
    right: 20px;
    top: 15px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #7a8189;
    right: 20px;
    top: 25px;
  }
  #cssmenu ul.open #menu-button::after,
  #cssmenu ul.open #menu-button::before {
    border-color: #fff;
  }
}
/* weather page style
'------------------------------------------*/
#weathermain
{
width: 100%;
	float: left;
	margin-top: 15px;
    }

#weatherfloatright
{
    width:50%;
    float: right;

}

#weathertitle
{
    font-size:medium;
    font-weight: bold;
}
#weathertitlecenter
{
    font-size:medium;
    font-weight: bold;
    text-align:center;
}

/* menu style
'------------------------------------------*/
#sse50 
{
    border: solid 1px black;
    background-color:#444;
    padding:0px;/*changing its value will give menu margins to its container*/
    text-align:center;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}
#sses50
{
    border-right: solid 1px #777;
    margin:0 auto;/*If you don't want the menu center aligned, remove this line and above text-align:center*/
    font-size:0;    
    box-sizing:content-box;
}
        
#sses50 ul, #sses50 li
{
    display: inline;
    list-style-type: none;padding: 0;margin: 0;border:0;background-image:none;
}
        
#sses50 a
{
    text-align: center;
    display: inline-block;
    font: normal 11px Verdana;
    background: url('mb50_2.gif') no-repeat left top;
    padding: 10px 20px;/*This defines the size of each menu item*/
    color: white;
    text-decoration: none;
}
        
#sses50 a:hover, #sses50 a.current
{
    background-position: 0% -60px;
    color: white;
}


/* map styles */
        #map, html, body {
        /* padding: 0;
        margin: 0; */
        height: 100%;
        }

        #panel {
        width: 452px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        float: right;
        margin: 10px;
        }

        #color-palette {
        clear: both;
        }

        .color-button {
        width: 14px;
        height: 14px;
        font-size: 0;
        margin: 2px;
        float: left;
        cursor: pointer;
        }
       
        #delete-button {
        margin-top: 10px;
        }
        
        #info-button {
        margin-top: 10px;
        }

        #savebutton {
        margin-top: 10px;
        }

        #TOPNAV {
        margin-top: 10px;
        font-family: Arial, sans-serif;
        font-size: 13px;
        float: right;
        }
        
        #dataPanel {
        margin-top: 10px;
        }
        p.margin
        {
        margin: 0; 
        }
        #textLong
        {
            width: 208px;
        }
        #_lblOption1
        {
            width: 270px;
        }
        #lblFarm
        {
            width: 60px;
        }
        #lblField
        {
            width: 59px;
        }
        #bntDelete
        {
            width: 158px;
        }        
        .tableStyle
        {
            width: 445px;
            border-style: solid;
            border-width:thin;
        }
        .subTitleStyle
        {
            background-color:#FFFF99; 
            font-weight: bold;
        }
        .inputStyle
        {
            border-style: none; 
            background-color: #EFEFEF;
        }
